<html>
  
  <head>
    <title>WEB page</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  
  <body>
    <div id="container">
      
      <div id="header">
        <h1>Codebreaker game</h1>
      </div>
      
      <div id="body">
        <div id="content">
          <div>
            <div id="hist">
              <h3>
                <% @application.prev_results.each do |val| %>
                <%= val[0] %> : <%= val[1] %>
                <br/>
                <% end %>
              </h3>
            </div>

            <% if @application.game_status == 'play' %>
              <form method="post" action="/check">
                <input name="suspect" type="text" placeholder="enter code here (1..4)" pattern="[1-6]{4}"/>
                <input type="submit" value="Check"/>
              </form>
            <% elsif @application.game_status == 'win'%>
              <h1>You WIN</h1>
              <h2>you score: <%= @application.score %> points</h2>
              <form method="post" action="/save">
                <input name="name" type="text" placeholder="enter your name"/>
                <input type="submit" value="Save"/>
              </form>
            <% else %>
              <h1>You LOSE</h1>
            <% end %>
            
            <%if @application.hint_value.empty?%>
              <form method="post" action="/hint">
                <input type="submit" value="Get hint"/>
              </form>
            <% else %>
              <div id="hint">
                <h3>
                  hint: <%= @application.hint_value %>
                </h3>
              </div>
            <%end%>
            <form method="post" action="/start_new">
              <input type="submit" value="New game"/>
            </form>
          </div>
        </div>
        
        <div id="winners">
          <h2>SCORES TABLE:</h2>
          <ul>
            <% @application.score_board.each do |val| %>
              <li>
                "<%= val[:name] %>" : <%= val[:val] %> points
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>